body{
    background-color:#0c0c0c;   
    margin:0;
    padding:0;
    overflow-x: hidden;
}

@font-face{
    font-family:'circular book';
    src:url(fonts/CircularStd-Book.otf);
    font-style:normal;
    font-weight:100;
}

@font-face{
    font-family:'monument';
    src:url(fonts/MonumentExtended-Ultrabold.otf);
    font-style:normal;
    font-weight:900;
}

  
 @font-face{
    font-family:'monument regular';
    src:url(fonts/MonumentExtended-Regular.otf);
    font-style:normal;
    font-weight:900;
}

@font-face{
    font-family:'gustavo bold';
    src:url(fonts/Gustavo-Bold.otf);
    font-style:normal;
    font-weight:900;
}

@font-face{
    font-family:'gustavo medium';
    src:url(fonts/Gustavo-Medium.otf);
    font-style:normal;
    font-weight:900;
}

@font-face{
    font-family:'gustavo regular';
    src:url(fonts/Gustavo-Regular.otf);
    font-style:normal;
    font-weight:900;
}

@font-face{
    font-family:'apoc';
    src:url(fonts/ApocLCTrial-Revelations.otf);
    font-style:normal;
    font-weight:900;
}

@font-face{
    font-family:'zephyr';
    src:url(fonts/Zephyr.otf);
    font-style:normal;
    font-weight:900;
}

@font-face{
    font-family:'helvetica';
    src:url(fonts/HelveticaNowDisplay-Bold.ttf);
    font-style:normal;
    font-weight:900;
}

@font-face{
    font-family:'grotsek';
    src:url(fonts/Grotsek.ttf);
    font-style:normal;
    font-weight:900;
}

@font-face{
    font-family:'ofform';
    src:url(fonts/Ofform-Regular.otf);
    font-style:normal;
    font-weight:900;
}

@font-face{
    font-family:'aeonik';
    src:url(fonts/AeonikProTRIAL-Regular.otf);
    font-style:normal;
    font-weight:900;
}


@font-face{
    font-family:'neue';
    src:url(fonts/NeueMontreal-Regular.otf);
    font-style:normal;
    font-weight:900;
}

.cursor{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    background-color:white;
    z-index: 9;
    transition-duration: 130ms;
    transition-timing-function: ease-out;
     transition: 0.3s;
    
}

.cursor:after{
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    top:-5px;
    left: -5px;
    transition: 0.3s;
    
}


@keyframes cursorAnim3 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.3);
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
    
}

.expand{
    animation: cursorAnim3 .5s forwards;
    background-color:black;
    transition: 0.3s;
}

.navbar{
    position: fixed;
    height: 80px;
    width: 100%;
    transform: scale(0.98);
    top:11%;
    z-index: 9;
}

.navbar a{
    float:right;
    margin: 35px 55px;
}

a:link{
    color:#8c8c8c;
    text-decoration: none;
    font-size:10px;
    font-family:'monument regular',sans-serif;
    letter-spacing:1px;
    font-weight: 100;
    text-transform: uppercase;
}

a:visited{
    color:white;
}

h1{
    font-family: 'aeonik',sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    position: absolute;
    color:white;
    letter-spacing: 0px;
    z-index: 3;

}

h2{
    font-family:'monument regular';
    font-size: 10px;
    font-weight: normal;
    position: absolute;
    color:white;
    z-index: 7;
    letter-spacing:0.7px;
    line-height: 55px;
    word-spacing: -5px;
}

span{
    text-decoration: underline #222222 3px;
}

h3{
    font-family:'neue',sans-serif;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    color:#8c8c8c;
    line-height: 18px;
    z-index: 3;
    letter-spacing: 0.2px;
    text-align: left;
}

p{
    font-family:'neue',sans-serif;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    color:#8c8c8c;
    line-height: 25.6px;
    z-index: 3;
    width: 300px;
    letter-spacing: 0.2px;
    text-align: left;
}



.sec-1{
    background-color: #050505;
    height: 150vh;
    width: 100%;
    position: fixed;
    z-index: 5;
    top:-10%;
}

.sec-2{
    background-color: #050505;
    height: 100vh;
    width: 100%;
    position: absolute;
    top:150vh;
    z-index: 5;
}

.sec-3{
    background-color: #CDEA68;
    border-radius: 30px;
    height: 100vh;
    width: 100%;
    position: absolute;
    top:250vh;
    z-index: 5;
}

.sec-4{
    background-color: #050505;
    height: 180vh;
    width: 100%;
    position: absolute;
    top:350vh;
    z-index: 5;
}

.sec-5{
    background-color: #050505;
    height: 100vh;
    width: 100%;
    position: absolute;
    top:530vh;
    z-index: 5;
    border-radius: 30px;
}

.sec-6{
    background-color: #f2f2f2;
    height: 100vh;
    width: 100%;
    position: absolute;
    top:628vh;
    border-radius: 30px;
    z-index: 5;
}

.typography{
    position: absolute;
    top:-20%;
    background-color: #cd6133;
    height: 50vh;
    width: 100%;
    border-radius: 30px;
    
}

.hide {
    display: none;
    transition:0.3s;
  }
  
  .t:hover + .hide {
    display: block;
    transition:0.3s;

  }

  img{
    z-index: 9;
  }


